<div id="content" class="row">
  <div class="medium-8 medium-offset-2 columns">
  	<h1><i class="fi-target"></i> Alerts</h1><br/>
    <table>
      <thead>
	<tr>
	  <th width="200">Name</th>
	  <th width="100">Version</th>
	  <th width="50">Vulnerabilities</th>
	  <th width="1000">State</th>
	  <th width="50">Vulnerability score</th>
	  <th width="50">Mark as</th>
	  <th width="50">New</th>
	</tr>
      </thead>
      <tbody>
	<tr *ngFor="let alert of alerts | paginate: { itemsPerPage: 50, currentPage: p }">
	  <td (click)="onClick(alert.id)">{{alert.program_info.program_name}}</td>
	  <td (click)="onClick(alert.id)">{{alert.program_info.program_version}}</td>
	  <td (click)="onClick(alert.id)">{{alert.number_cve}}</td>
	  <td (click)="onClick(alert.id)">
	    <span *ngFor="let state of alert.state" class="state-badge state-badge-{{state}}">{{state}}</span>
	  </td>
	  <td (click)="onClick(alert.id)"><progress style="width:100%" max="100" value="{{alert.max_cvss*10}}"></progress></td>
	  <td> <button class="button tiny" (click)="onMark(alert)">
	       <span *ngIf="!alert.loadingMark">{{alert.view ? "Unread" : "Read" }}</span>
	       <span *ngIf="alert.loadingMark">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>  
	  </button></td>
	  <td><i *ngIf="!alert.view" class="fi-alert big-icon"></i></td>
	</tr>
      </tbody>
    </table>
    <alert *ngFor="let alert of alertsHtml" [type]="alertHtml.type" dismissOnTimeout="3000">{{ alert.msg }}</alert>
    <pagination-controls (pageChange)="p = $event;onPageChange(p)"></pagination-controls>
  </div>
</div>
