<div id="content" class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1><i class="fi-target"></i> Alerts</h1><br/>
    <button class="tiny"(click)="onClickRefresh()">
      <span *ngIf="!pageLoading"><i class="fi-refresh"></i> refresh</span>
      <span *ngIf="pageLoading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span> refreshing...</span>
    </button>
    <button class="button tiny" (click)="onMarkAll('read')">
      <span *ngIf="!loadingMarkAll['read']">Mark all read</span>
      <span *ngIf="loadingMarkAll['read']">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>  
    </button>
    <button class="button tiny" (click)="onMarkAll('unread')">
      <span *ngIf="!loadingMarkAll['unread']">Mark all unread</span>
      <span *ngIf="loadingMarkAll['unread']">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>  
    </button>
    <div *ngIf="stations_list.length > 1">
      <ul class="pagination">
	<li class="{{(filtered_station == 'all') ? 'current': ''}}"><button (click)="selectStation('all')" href="">All</button></li>
	<li class="{{(filtered_station == station.id) ? 'current': ''}}" *ngFor="let station of stations_list"><button (click)="selectStation(station.id)" href="#">{{station.name}}</button></li>
      </ul>
    </div>
    
    <div class="row">
      <div class="medium-1 columns my-dropdown">
	
	<a>Filters</a>
	<ul id="drop1" class="f-dropdown my-dropdown-content">
	  <li *ngFor="let flt of filter_options" ><a (click)="onClickFilter(flt)">{{flt}}</a></li>
	</ul>
	
      </div>
      <div class="medium-7 columns">
	<input [(ngModel)]=filter type="text" placeholder="filter">
      </div>
    </div>
    
    <table>
      <thead>
	<tr>
	  <th width="300">Name</th>
	  <th width="100">Version</th>
	  <th width="100">Station</th>
	  <th width="50">Vulnerabilities</th>
	  <th width="700">State</th>
	  <th width="100">Vulnerability score</th>
	  <th width="50">Mark as</th>
	  <th width="50">More information</th>
	  <th width="50">New</th>
	</tr>
      </thead>
      <tbody>
	<tr *ngFor="let alert of alerts | station:'alert':filtered_station | filter:filter | paginate: { itemsPerPage: 50, currentPage: p }">
	  <td class="clickable" (click)="onClick(alert.id)" [innerHTML]=alert.program_info.program_name></td>
	  <td class="clickable" (click)="onClick(alert.id)" [innerHTML]=alert.program_info.program_version></td>
	  <td class="clickable" (click)="onClick(alert.id)" [innerHTML]=alert.program_info.station_name></td>
	  <td class="clickable" (click)="onClick(alert.id)">{{alert.number_cve}}</td>
	  <td class="clickable" (click)="onClick(alert.id)">
	    <span *ngFor="let state of alert.state" class="state-badge state-badge-{{state}}">{{state}}</span>
	  </td>
	  <td (click)="onClick(alert.id)"><progress style="width:100%" max="100" value="{{alert.max_cvss*10}}"></progress></td>
	  <td><button class="button tiny" (click)="onMark(alert)">
	       <span *ngIf="!alert.loadingMark">{{alert.view ? "Unread" : "Read" }}</span>
	       <span *ngIf="alert.loadingMark">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>  
	  </button></td>
	  <td> <button class="button tiny" (click)="onClick(alert.id)">View</button></td>
	  <td><i *ngIf="!alert.view" class="fi-alert big-icon"></i></td>
	</tr>
      </tbody>
    </table>
    <div *ngIf="pageLoading" class="page-loading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>
    <pagination-controls autoHide="true" (pageChange)="p = $event;onPageChange(p)"></pagination-controls>
  </div>
</div>
