<div id="content" class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <div *ngIf="alerts_obj">
      <h1><i class="fi-target blue"></i> Program name: {{alerts_obj.program.program_name}}</h1>
      <h2 class="subheader">Program version: {{alerts_obj.program.program_version}}</h2>
      
      
      
      <div *ngFor="let cve of alerts_obj.cve">
		<hr/>
		<table>
			<tr>
				<td class="blue-label">CVEID</td>
				<td>{{cve.cveid}}</td>
			</tr>
			<tr>
				<td class="blue-label">Update date</td>
				<td>{{cve.modified_date}}</td>
			</tr>
			<tr>
				<td class="blue-label">Score</td>
				<td>{{cve.cvss_score}}</td>
			</tr>
		</table>
		<hr/>

		<h3 class="subheader">Summary</h3>
		<p>{{cve.summary}}</p>

		<h3 *ngIf="cve.cwe && cve.cwe.title" class="subheader">Weakness Title</h3>
		<p *ngIf="cve.cwe && cve.cwe.title">{{cve.cwe.title}}</p>

		<h3 *ngIf="cve.cwe && cve.cwe.summary" class="subheader">Weakness Summary</h3>
		<p *ngIf="cve.cwe && cve.cwe.summary">{{cve.cwe.summary}}</p>

		<h3 *ngIf="cve.cwe && cve.cwe.description" class="subheader">Weakness Description</h3>
		<p *ngIf="cve.cwe && cve.cwe.description">{{cve.cwe.description}}</p>

		<h3 *ngIf="cve.cvss != ''" class="subheader">Classification</h3>
		<ul>
			<li *ngFor="let part of cve.cvss.split('/')"><span [outerHTML]="part | cvss"></span></li>
		</ul>

	References
	<table>
	  <thead>
	    <th>Source</th>
	    <th>Link</th>
	    <th>Value</th>
	  </thead>
	  <tbody>
	    <tr *ngFor="let ref of cve.reference_set">
	      <td>{{ref.source}}</td>
	      <td><a href="{{ref.href}}">{{ref.href}}</a></td>
	      <td>{{ref.value}}</td>
	    </tr>
	  <tbody>
	</table>
	
	<div *ngIf="cve.cvss">
	</div>
	
      </div>
    </div>
    <alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="3000">{{ alert.msg }}</alert>
  </div>
</div>

<button class="button back-button" (click)="onGoBackList()"><i class="fi-list"></i> Back to list</button>
