<div id="menu" class="row">
  <div class="medium-1 columns" id="logo">
    <img (click)="onImgClick()" src="foundation/img/vigilate_logo.png">
  </div>
  <template [ngIf]="authService.isLoggedIn && userService.user">
    <div class="medium-10 medium-centered columns">
      
      <!-- <div  class="medium-2 columns item_menu" id="menu-icon-{{r.path.substring(1)}}"> -->
	
      <div *ngFor="let r of routes">
	<div class="medium-2 columns item_menu {{(tour_current_step == r.path) ? 'highlight-zone': ''}}" id="menu-icon-{{r.path.substring(1)}}">

	
        <a class="{{(activated_page == r.path) ? 'activated': ''}}" [routerLink]="[r.path]">
          <i class="fi-target"></i><span *ngIf="nb_new_alert && r.path == '/alerts'" class="red-badge">{{nb_new_alert}}</span>
          <span>{{r.name}}</span>
        </a>

	<div class="joyride-tip-guide highlight-zone-info" *ngIf="tour_current_step == r.path">
	    <span class="joyride-nub top"></span>
	    <div class="joyride-content-wrapper">
	      <p *ngIf="r.path == '/stations'">First click on the station menu.</p>
	      <p *ngIf="r.path == '/programs'">Once you have executed the scanner, the programs of your computer will be visible here.</p>
	    </div>
	  </div>
	
	</div>
	
	</div>
	
    <!-- </div> -->
    
    </div>
    <div class="medium-1 columns item_menu" id="item-logout">
      <a href="#" (click)="logout()">
        <i class="fi-power"></i>
        <span>Logout</span>
      </a>
    </div>
  </template>
</div>
<div id="content">
  <router-outlet></router-outlet>
  <notifications></notifications>
</div>
