<div id="menu" class="row">
      <div class="medium-2 columns" id="logo">
        <img src="foundation/img/vigilate_logo.png">
      </div>
      <template [ngIf]="authService.isLoggedIn">
        <div *ngFor="let r of routes" class="medium-2 columns item_menu">
          <a [routerLink]="[r.path]">
            <i class="fi-target"></i><span *ngIf="nb_new_alert && r.path == '/alerts'" class="red-badge">{{nb_new_alert}}</span>
            <span>{{r.name}}</span>
          </a>
        </div>
        <div class="medium-2 columns item_menu">
          
        </div>
      </template>
</div>
<div id="content">
  <router-outlet></router-outlet>
  <div data-alert class="alert-box" id="notification-block">
    <i class="fi-alert blue big-icon"></i> New alert on the program Firefox
  </div>
</div>
