<div id="menu" class="row">
  <div class="medium-1 columns" id="logo">
    <img (click)="onImgClick()" src="foundation/img/vigilate_logo.png">
  </div>
  <template [ngIf]="authService.isLoggedIn && userService.user">
    <div class="medium-10 medium-centered columns">
      <div *ngFor="let r of routes" class="medium-2 columns item_menu">
        <a [routerLink]="[r.path]">
          <i class="fi-target"></i><span *ngIf="nb_new_alert && r.path == '/alerts'" class="red-badge">{{nb_new_alert}}</span>
          <span>{{r.name}}</span>
        </a>
      </div>
    </div>
    <div class="medium-1 columns item_menu" id="item-logout">
      <a href="#" (click)="logout()">
        <i class="fi-power"></i>
        <span>Logout</span>
      </a>
    </div>
  </template>
</div>
<div id="content">
  <router-outlet></router-outlet>
  <div data-alert class="alert-box" id="notification-block">
    <i class="fi-alert blue big-icon"></i> New alert on the program Firefox
  </div>
</div>
