<div class="small-12 medium-6 medium-offset-3 columns">
	<h1><i class="fi-target blue"></i> Dashboard</h1>
	<h3 class="subheader">Logged as {{ authService.user[0].email }}</h3>
	<div class="row" id="dashboard-stats">
		<div class="small-12 medium-4 columns">
			<span>{{nb_total_prog}}</span>
			<div>PROGRAMS</div>
		</div>
		<div class="small-12 medium-4 columns">
			<span>{{nb_total_alert}}</span>
			<div>ALERTS</div>
		</div>
		<div class="small-12 medium-4 columns">
			<span>{{nb_total_station}}</span>
			<div>STATIONS</div>
		</div>
	</div>
	<div class="row" id="dashboard-info">
		<div class="small-12 medium-6 columns">
			<span>Last password change : 15-07-2016</span>
		</div>
		<div class="small-12 medium-6 columns">
			<span>Last connection IP : 5.50.96.22</span>
		</div>
	</div>
	<br/>
	<button class="button right" (click)="logout()">Logout</button>
</div>


