<div class="small-12 medium-6 medium-offset-3 columns">
	<h1><i class="fi-target blue"></i> Dashboard</h1>
	<h3 class="subheader">Logged as {{ userService.user.email }}</h3>
	<div class="row" id="dashboard-stats">
		<div (click)="onClick('programs')" class="small-12 medium-4 columns">
			<span class="clickable">{{nb_total_prog}}</span>
			<div class="clickable">PROGRAMS</div>
		</div>
		<div (click)="onClick('alerts')" class="small-12 medium-4 columns">
			<span class="clickable">{{nb_total_alert}}</span>
			<div class="clickable">ALERTS</div>
		</div>
		<div (click)="onClick('stations')" class="small-12 medium-4 columns">
			<span class="clickable">{{nb_total_station}}</span>
			<div class="clickable">STATIONS</div>
		</div>
	</div>
	<div class="row" id="dashboard-info">
		<div class="small-12 medium-6 columns">
			<span>Last password change : 15-07-2016</span>
		</div>
		<div class="small-12 medium-6 columns">
			<span>Last connection IP : 5.50.96.22</span>
		</div>
	</div>
</div>


