<form  class="form-signin small-12 medium-6 large-2">
  <h2 class="form-signin-heading">Please sign in or login</h2>
  <label for="inputUsername">Username</label>
  <input type="text" id="inputUsername" placeholder="Username" required autofocus [(ngModel)]="username">
  <label for="inputPassword">Password</label>
  <input type="password" id="inputPassword" placeholder="Password" required [(ngModel)]="password">
  <button class="button large" (click)="onSubmitLogin()">
    <span *ngIf="!loadingLogin">Login</span>
    <span *ngIf="loadingLogin">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
  </button>
  <button class="button large" (click)="onSubmitSignin()">
    <span *ngIf="!loadingSignin">Sign in</span>
    <span *ngIf="loadingSignin">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
  </button>
  <alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="3000">{{ alert.msg }}</alert>
</form>