<div id="content" class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
		<form *ngIf="program_obj">

		  <div *ngFor="let program_parm of program_params" class="row" [class.has-warning]="program_obj_origin[program_parm.key] != program_obj[program_parm.key]">
		    <label attr.for="input-{{ program_parm.key }}" class="small-3 medium-2 columns inline">
		      {{ program_parm.name }}
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input (input)="onChange(program_parm.key, $event)" value="{{program_obj[program_parm.key]}}" id="input-{{ program_parm.key }}" type="text"  [readonly]="program_parm.readonly" />
		    </div>
		  </div>
		  <button *ngIf="have_changes" class="button small right" (click)="onSubmit()">Submit</button>
		</form>
		<alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="3000">{{ alert.msg }}</alert>
	</div>
</div>
