<div id="content" class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
		<form *ngIf="program_obj">

		  <div *ngFor="let program_parm of program_params" class="row" [class.has-warning]="program_obj_origin[program_parm.key] != program_obj[program_parm.key]">
		    <label attr.for="input-{{ program_parm.key }}" class="small-3 medium-2 columns inline">
		      {{ program_parm.name }}
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input (input)="onChange(program_parm.key, $event)" value="{{program_obj[program_parm.key]}}" id="input-{{ program_parm.key }}" type="text"  [readonly]="program_parm.readonly" />
		    </div>
		  </div>


		  <div class="row">
		    <label attr.for="input-poste" class="small-3 medium-2 columns inline">
		      Station
		    </label>
		    <div class="small-9 medium-10 columns">
		      <select (change)="delayedUpdateHaveChange()" [(ngModel)]="selectedStation">
			<option *ngFor="let station of stations" value={{station.id}}>
			  {{station.name}}
			</option>
		      </select>
		      <input *ngIf="selectedStation == -1" type="text" [(ngModel)]="station_new_name" />
		    </div>
		  </div>

		  <div class="row">
		  	<hr/><br/>
		  	<div class="small-12 medium-3 columns inline">
				<input id="checkbox" type="checkbox" (change)="delayedUpdateHaveChange()" [(ngModel)]="alert_custom.def"><label for="checkbox">Use default alert value</label>
		  	</div>
		  </div>
		  
		  <div *ngIf="!alert_custom.def" class="row">   
	        <label class="small-3 medium-2 columns inline">
		      Score alert mail
		    </label>
		    <div class="small-9 medium-9 columns">
		      <input type="text" (input)="updateHaveChange()" [(ngModel)]="alert_custom.mail.score" [disabled]="!alert_custom.mail.activated"/> 
		    </div>
		    <input id="checkbox_mail" type="checkbox" (change)="delayedUpdateHaveChange()" [(ngModel)]="alert_custom.mail.activated">
		  </div>
		  <div *ngIf="!alert_custom.def" class="row">
	            <label class="small-3 medium-2 columns inline">
		      Score alert sms
		    </label>
		    <div class="small-9 medium-9 columns">
		      <input type="text" (input)="updateHaveChange()" [(ngModel)]="alert_custom.sms.score" [disabled]="!alert_custom.sms.activated"/>
		    </div>
		    <input id="checkbox_sms" type="checkbox" (change)="delayedUpdateHaveChange()" [(ngModel)]="alert_custom.sms.activated">
		  </div>
		  <div *ngIf="!alert_custom.def" class="row">
	            <label class="small-3 medium-2 columns inline">
		      Score alert web
		    </label>
		    <div class="small-9 medium-9 columns">
		      <input type="text" (input)="updateHaveChange()" [(ngModel)]="alert_custom.web.score" [disabled]="!alert_custom.web.activated"/>
		    </div>
		    <input id="checkbox_web" type="checkbox" (change)="delayedUpdateHaveChange()" [(ngModel)]="alert_custom.web.activated">
		  </div>
		  <button *ngIf="have_changes" class="button small right" (click)="onSubmit()">
		    <span *ngIf="!loadingSubmit">Submit</span>
		    <span *ngIf="loadingSubmit">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
		  </button>
		</form>
		<alert *ngFor="let alert of alerts" [type]="alert.type" dismissOnTimeout="3000">{{ alert.msg }}</alert>
	</div>
</div>

<button class="button back-button" (click)="onGoBackList()"><i class="fi-list"></i> Back to list</button>
