<div id="content" class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1><i class="fi-target"></i> Manage software</h1>
    <br>
    <button class="tiny"(click)="onClickRefresh()">
      <span *ngIf="!pageLoading"><i class="fi-refresh"></i> refresh</span>
      <span *ngIf="pageLoading"><i class="fi-refresh loading-spinner"></i> refreshing...</span>
    </button>
    <div *ngIf="stations_list.length > 1">
      <ul class="pagination">
	<li class="{{(filtered_station == 'all') ? 'current': ''}}"><button (click)="selectStation('all')" href="">All</button></li>
	<li class="{{(filtered_station == station.id) ? 'current': ''}}" *ngFor="let station of stations_list"><button (click)="selectStation(station.id)" href="#">{{station.name}}</button></li>
      </ul>
    </div>
    
    <div class="row">
      <div class="medium-1 columns my-dropdown">

	<a class="filter-button">Filters</a>
	<ul id="drop1" class="f-dropdown my-dropdown-content">
	  <li *ngFor="let flt of filter_options" ><a (click)="onClickFilter(flt)">{{flt}}</a></li>
	</ul>

      </div>
      <div class="medium-7 columns">
	<input [(ngModel)]=filter type="text" placeholder="filter">
      </div>
    </div>
    <button *ngIf="progs.length" class="hollow small button right" (click)="onNewProgram()">New program</button>
    <pagination-controls autoHide="true" #pagination (pageChange)="p = $event;onPageChange(p)"></pagination-controls>
    <table id="softwares">
      <thead>
        <tr>
          <th width="200">Name</th>
          <th width="200">Version</th>
	  <th width="600">Station</th>
          <th width="200" class="text-center">Vulnerable</th>
          <th width="50" class="text-center">Edit</th>
          <th width="50" class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prog of progs | station:'prog':filtered_station | filter:filter | paginate: { itemsPerPage: 100, currentPage: p } ; let i = index">
          <td class="clickable" (click)="onClick(prog.id)" [innerHTML]=prog.program_name></td>
          <td class="clickable" (click)="onClick(prog.id)" [innerHTML]=prog.program_version></td>
	  <td class="clickable" (click)="onClick(prog.id)" [innerHTML]=prog.station_name></td>
          <td *ngIf="prog.alert_id" (click)="onClickAlert(prog.alert_id)" class="text-center red clickable"><i class="fi-alert big-icon"></i> Learn more</td>
          <td *ngIf="!prog.alert_id"></td>
          <td> <button class="button tiny" (click)="onClick(prog.id)">Edit</button></td>
          <td class="right"> <button class="button alert tiny" (click)="onClickDelete(prog.id, i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="pageLoading" class="page-loading"><i class="fi-refresh loading-spinner"></i></div>
    <button class="hollow small button right" (click)="onNewProgram()">New program</button>
    <pagination-controls autoHide="true" #pagination (pageChange)="p = $event;onPageChange(p)"></pagination-controls>
  </div>
</div>
