<div class="medium-8 medium-offset-2 columns">
	<h1><i class="fi-target"></i> Settings</h1><br/>
	<form [ngFormModel]="ctrl.form">
		<h2 class="subheader">Change phone number</h2>
		<div class="row">
		  <small class="error" *ngIf="error_field.phone">{{error_field['phone']}}</small>
		  <div *ngIf="ctrl.phone.dirty && !ctrl.phone.valid">
		    <small class="error" *ngIf="ctrl.phone.errors.isPrefixed">The phone must be prefixed with the international code. (+44/+33/...)</small>
		  </div>
		    <label class="small-3 medium-2 columns inline">
		      Phone number<br />(with international code)
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input [(ngModel)]="phone_number" ngControl="phone" type="tel"/>
		    </div>
		</div>

		<h2 class="subheader">Change default alert</h2>
		<div class="row">
		  <small class="error" *ngIf="error_field.default_alert_type">{{error_field['default_alert_type']}}</small>
		    <label class="small-3 medium-2 columns inline">
		      Alert type
		    </label>
		    <div class="small-9 medium-10 columns">
		      <select [(ngModel)]="default_alert">
			<option *ngFor="let type of default_alert_types" value={{type}}>
			  {{type}}
			</option>
		      </select>
		    </div>
		</div>

		<h2 class="subheader">Change password</h2>
		<div class="row">
		    <label class="small-3 medium-2 columns inline">
		      New password
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input ngControl="password" [(ngModel)]="password" type="password" />
		    </div>
		</div>
		<div class="row">
		  <div *ngIf="!ctrl.password_confirm.valid">
		    <small class="error" *ngIf="ctrl.password_confirm.errors.match">The confirmation password must match the password.</small>
		  </div>
		    <label class="small-3 medium-2 columns inline">
		      Confirm new password
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input ngControl="password_confirm" [(ngModel)]="password_confirm" type="password" data-equalto="password"/>
		    </div>
		</div><br/>
		<button [disabled]="!ctrl.form.valid" (click)="onClickSubmit()" class="button">
		  <span *ngIf="!loadingSubmit">Submit</span>
		  <span *ngIf="loadingSubmit">Loading... <i class="fi-refresh loading-spinner"></i></span>
		</button>
	</form>
	<hr/>

	<span *ngIf="selected_plan && selected_plan.name">
	  The activated plan is {{selected_plan.name}}
	</span>
	<br />
	<span *ngIf="selected_plan && selected_plan['validity_time']">
	  <span *ngIf="remaining_time > 0">The {{selected_plan['name']}} plan will expire in {{remaining_time}}s</span>
	  <span *ngIf="remaining_time <= 0">The {{selected_plan['name']}} current plan have expired.</span>
	</span>
	<div class="row" data-equalizer>
	  
	  <div *ngFor="let plan of plans" class="medium-4 small-12 columns {{(selected_plan.id == plan.id || (plan.max_stations < selected_plan.max_stations && plan.max_stations != 0)) ? 'enabled-plan' : ''}}">
	    <ul class="pricing-table" data-equalizer-watch>
	      <li class="title">{{plan.name}}</li>
	      <li class="price">{{plan.price == 0 ? "Free" : plan.price + " € / month"}}</li>
	      <li class="bullet-item">{{plan.max_stations == 0 ? 'Unlimited' : plan.max_stations}} stations</li>
	      <li class="cta-button">
		<button (click)="onClickPlan(plan)" *ngIf="!(selected_plan.id == plan.id || (plan.max_stations < selected_plan.max_stations && plan.max_stations != 0))" class="button">
		  <span *ngIf="!loadingSubmit">Upgrade Now</span>
		  <span *ngIf="loadingSubmit">Loading... <i class="fi-refresh loading-spinner"></i></span>
	      </button></li>
	    </ul>
	  </div>
	  
	</div>
	
	<br />
	<button type="submit" class="button alert" (click)="deleteAccount()">Delete account</button>
</div>
