<div class="medium-8 medium-offset-2 columns">
	<h1><i class="fi-target"></i> Settings</h1><br/>
	<form>
		<h2 class="subheader">Change phone number</h2>
		<div class="row">
		    <label class="small-3 medium-2 columns inline">
		      New phone number
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input [(ngModel)]="phone_number" type="tel"/>
		    </div>
		</div>
		<h2 class="subheader">Change password</h2>
		<div class="row">
		    <label class="small-3 medium-2 columns inline">
		      New password
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input type="password"/>
		    </div>
		</div>
		<div class="row">
		    <label class="small-3 medium-2 columns inline">
		      Confirm new password
		    </label>
		    <div class="small-9 medium-10 columns">
		      <input type="password"/>
		    </div>
		</div><br/>
		<button (click)="onClickSubmit()" class="button">
		  <span *ngIf="!loadingSubmit">Submit</span>
		  <span *ngIf="loadingSubmit">Loading... <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
		</button>
	</form><br/>
	<hr/>
	<button class="button alert" (click)="deleteAccount()">Delete account</button>
</div>
