<div id="content" class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1><i class="fi-target"></i> Download the scanner for a new station</h1><br/>
    <form>
      <div class="row">
        <label attr.for="input-name" class="small-3 medium-2 columns inline text-center">
  	       Station name
        </label>
        <div class="small-9 medium-10 columns">
  	       <input [(ngModel)]="new_station_name" id="input-name" type="text"/>
        </div>
      </div>
      <button (click)="onAddStation()" class="button small right">Add station</button>
    </form>
    <hr/>
    <table>
      <thead>
      	<tr>
      	  <th width="50">Id</th>
      	  <th width="1100">Name</th>
          <td width="200" class="text-center">Download scanner</td>
      	  <th width="100" class="text-center">Delete</th>
      	</tr>
      </thead>
      <tbody>
      	<tr *ngFor="let station of stations | paginate: { itemsPerPage: 50, currentPage: p }">
      	  <td (click)="onClick(station.id)">{{station.id}}</td>
      	  <td (click)="onClick(station.id)">{{station.name}}</td>
          <td class="text-center"> <a href="https://vigilate.eax.ovh/get_scanner/{{station.id}}/" class="button tiny">Download scanner</a></td>
      	  <td class="text-center right"> <button class="button alert tiny" (click)="onDelete(station.id)">Delete</button></td>
      	</tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
